<div class="fl-wrap">
    <uib-tabset active="active">
        <uib-tab index="$index+1" ng-repeat="tab in of.tabList" heading="{{tab.title}}（{{tab.num}}）" select="of.getFundingList($index+1)">
            <ng-include src="tab.templateUrl"></ng-include>
        </uib-tab>
    </uib-tabset>
    <form class="search-wrap">
        <input ng-model="of.searchInp" type="text" class="form-control" placeholder="项目名称 / 发布人">
        <i ng-click="of.showSearchDialog();" class="svg-houtai_seach-dims svg-houtai_seach search-btn"></i>
        <button ng-show="false" type = "submit" ng-click="of.showSearchDialog();"></button>
    </form>
</div>