<div class="cf-con-wrap">
    <div class="control-group">
        <form class="form-inline search-wrap">
            <div class="line">
                <div class="form-group inpW">
                    <label for="pro_name">产品名称</label>
                    <input ng-model="cf.productName" type="text" class="form-control inp" id="pro_name">
                </div>
                <div class="form-group inpW">
                    <label for="pj_code">项目代码</label>
                    <input ng-model="cf.projectCode" type="text" class="form-control inp" id="pj_code">
                </div>
            </div>
            <div class="line">
                <div class="form-group inpW">
                    <label for="repay_date_start">到期日</label>
                    <input ng-click="cf.dateOpen0()" uib-datepicker-popup="{{cf.format}}" on-open-focus=false close-on-date-selection=false close-text="确定" clear-text="清空" current-text="今天" is-open="cf.popup0.opened" datepicker-options="cf.dateOptions" close-text="Close" ng-model="cf.startMaturityDate" type="text" class="form-control inp sl" id="repay_date_start" placeholder="-请选择-" readonly>
                    <i ng-click="cf.dateOpen0()" class="svg-houtai_canlender svg-houtai_canlender-dims calendar"></i>
                </div>
                <div class="form-group inpW to">
                    <label for="repay_date_end">到</label>
                    <input ng-click="cf.dateOpen1()" uib-datepicker-popup="{{cf.format}}" on-open-focus=false close-on-date-selection=false close-text="确定" clear-text="清空" current-text="今天" is-open="cf.popup1.opened" datepicker-options="cf.dateOptions" close-text="Close" ng-model="cf.endMaturityDate" type="text" class="form-control inp sl" id="repay_date_end" placeholder="-请选择-" readonly>
                    <i ng-click="cf.dateOpen1()" class="svg-houtai_canlender svg-houtai_canlender-dims calendar"></i>
                </div>
            </div>
        </form>
        <div class="controls">
            <button class="btn" ng-click="cf.queryFinance()">查询</button>
            <button class="btn" ng-click="cf.reset()">重置</button>
        </div>
    </div>
    <div class="cf-list-con">
        <div class="search-result">
            <span class="s_btn" ng-class="{enabled:cf.financeItems.length>0,active:cf.checkAllF}" ng-click="cf.checkAllClick()">全选</span>
            <span class="s_btn" ng-if="cf.financeItems.length==0" uib-popover="下载查询结果中所有产品的出款明细" popover-trigger="'mouseenter'" ng-click="cf.downloadOutDetail()">下载出款明细</span>
            <div class="search-num">共有<span>{{cf.pagination.bigTotalItems}}</span>条产品记录</div>
        </div>
        <div class="items-wrap clearfix">
            <div class="l">
                <div class="header clearfix">
                    <span class="w w0">选择</span>
                </div>
                <ul class="items">
                    <li class="item clearfix" ng-class="{err:item.status==5&&item.lendStatus==1}" ng-repeat="item in cf.financeItems">
                        <span class="w w0">
                            <label class="checkbox-inline cb-btn">
                                <input type="checkbox" name="checkbox" ng-model="cf.checkbox[item.id].flag" ng-change="cf.checkChange()" >
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="r clearfix">
                <div class="left">
                    <div class="l_wrap">
                        <div class="header clearfix">
                            <span class="w w2">---</span>
                            <span class="w w3">---</span>
                            <span class="w w1">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                            <span class="w w2">---</span>
                        </div>
                        <ul class="items">
                            <li class="item clearfix" ng-class="{err:item.status==5&&item.lendStatus==1}" ng-repeat="item in cf.financeItems">
                                <span class="w w2">---</span>
                                <span class="w w3">---</span>
                                <span class="w w1">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                                <span class="w w2">---</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="header clearfix">
                        <span class="w w6">---</span>
                        <span class="w w7 last">操作</span>
                    </div>
                    <ul class="items">
                        <li class="item clearfix" ng-class="{err:item.status==5&&item.lendStatus==1}" ng-repeat="item in cf.financeItems">
                            <span class="w w6">---</span>
                            <span class="w w7 operate">
                                <span>---</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="no-data" ng-show="!cf.financeItems||cf.financeItems.length==0">
                <p><i class="svg-houtai_seachicon svg-houtai_seachicon-dims"></i>暂无查询结果</p>
            </div>
        </div>
        <div class="pagination_wrap" ng-show="cf.financeItems&&cf.financeItems.length>0">
            <uib-pagination previous-text="<上一页" next-text="下一页>" total-items="cf.pagination.bigTotalItems" ng-model="cf.pagination.bigCurrentPage" max-size="cf.pagination.maxSize" items-per-page='cf.pagination.numPerPage' ng-change="cf.pagination.pageChanged()" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
        </div>
    </div>
</div>
